# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
.vs
packages
x64
Debug
DayliInput
*.sln
*.vcxproj
*.filters
*.user
/Day6/input_Day6.txt
/Day6/input_Day6_test.txt
/Day7/input_Day7.txt
/Day7/input_Day7_test.txt
/Day8/input_Day8.txt
/Day8/input_Day8_test.txt
